/* * {
  font-family: "Outfit";
}

body {
  background-color: hsl(217, 54%, 11%);
}

.row {
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
}

.col {
  padding: 32px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 5%;
}

.nft-img {
  border-radius: 5%;
}

.title {
  margin-top: 32px;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 32px;
}

.paragraph {
  color: hsl(215, 32%, 27%);
}

.nft-info {
  display: flex;
  justify-content: space-between;
}

.price {
  color: hsl(178, 100%, 50%);
}

.time {
  color: hsl(215, 32%, 27%);
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-img {
  height: 48px;
  float: left;
  vertical-align: middle;
}

.user-name {
  font-size: 16px;
  margin-left: 2em;
  color: hsl(0, 0%, 100%);
}

.emphasize {
  color: hsl(215, 32%, 27%);
} */
